#main {
    @include outer-container;
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.main-content {
  @include span-columns(9 of 12);
}

.sidebar {
  border-left: 1px solid $base-border-color;
  @include span-columns(3 of 12);
  margin-top: 60px;
  padding-left: 10px;
}

.image-right {
  float: right;
}

.article-title {
  font-size: 1.8em;
}

.article-footer {
  padding-bottom: 25px;
}

.article-title-date {
  font-size: .9em;
  fonth-weight: 80;
  color: grey;
  margin-top: -15px;
  padding-bottom: 5px;
  padding-left: 15px;
}
