#main {
    @include outer-container;
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.left-column {
  @include span-columns(9 of 12);
}

.sidebar {
  border-left: 1px solid $base-border-color;
  @include span-columns(3 of 12);
  margin-top: 75px;
  padding-left: 10px;
}
