nav {
  border-bottom: 1px solid $base-border-color;
  margin: em(30) 0;
}

.blog-title {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.blog-subtitle {
  font-weight: 500;
  float: right;
}
