<nav>
  <ul>
    <li>
      <span class="blog-title"><%= link_to 'Dinomite.net', '/index.html', :class => 'blog-title' %></span>
      <span class="blog-subtitle">the blog of Drew Stephens</span>
    </li>
  </ul>
</nav>
